:root{
  --background: #495567;
  --bg-color:#333A44;
  --text-color:#939caa;

  --space-mono: "Space Mono", "Arial", sans-serif;
  --lexend-deca: "Lexend Deca", "Arial", sans-serif;
}

/*WEB FONTS RELATED*/
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src:url("../fonts/space-mono-v6-latin-regular.woff2") format("woff2"), 
      url("../fonts/space-mono-v6-latin-regular.woff") format("woff");  
}
/* space-mono-700 - latin */
@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src:url("../fonts/space-mono-v6-latin-700.woff2") format("woff2"), 
      url("../fonts/space-mono-v6-latin-700.woff") format("woff");  
}

/* lexend-deca-regular - latin */
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src:url("../fonts/lexend-deca-v7-latin-regular.woff2") format("woff2"), 
      url("../fonts/lexend-deca-v7-latin-regular.woff") format("woff");  
}
/*GLOBAL STYLES*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: var(--lexend-deca);
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  background-color: #fff;
  color: var(--text-color);
}

/* Heading Styles  */

h1,h2,h3,h4{
  margin-top: 0;
  font-family: var(--space-mono);
  font-style: normal;
  font-weight: bold;
  color: var(--background);
}
h1{
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
}
h2{
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
}
h3{
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
}
h4{
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
}

a{
  text-decoration: none;
  font-family: var(--space-mono);
  font-style: normal;
  font-weight: bold;
  white-space: nowrap;
}
/* Button Styles  */

.button{
  text-decoration: none;
  padding: 14px 48px;
  text-transform: capitalize;
  background-color: #FCB72B;
  color: #fff;
  border: 2px solid #FCB72B;
  transition: background-color 0.3s ease;
}

.button:hover{
  background-color: transparent;
  color: #FCB72B;
}
.button:active{
  opacity: 0.7;
}

/* CONTAINER  STYLE*/
.container{
  max-width: 1160px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}
/*=====================================================================================================
                                        HEADER
=====================================================================================================*/
.site-header{
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}
.site-header__container{
  display: flex;
  align-items: center;
}

/* WRAPPER */
.toggle{
  width: 20px;
  height: 16px;
  background: url("../assets/icons/toggle-on.svg") no-repeat center center;
  background-size: contain;
  border: none;
  cursor: pointer;
  display: none;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper-icons{
  margin-right: 60px;
}
.wrapper-nav{
  flex-grow: 1;
}

.nav-list{
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-right: 32px;
}
.nav-item:not(:last-child){
  margin-right: 32px;
}

.nav-link{
  color: var(--text-color);
}

.nav-link:hover{
  color: #FCB72B;
}
.nav-link:active{
  opacity: 0.7;
}
/*=====================================================================================================
                                        MAIN
=====================================================================================================*/
.site-main{
  flex-grow: 1;
}
/* MAIN HEADER  */
.main__header{
  position: relative;
  padding: 153px 120px;
  background: url("../assets/images/home-hero-desktop.jpg") no-repeat;
  background-size: cover;
}
.main__header::before{
  position: absolute;
  content: "";
  width: 1100px;
  height: 150px;
  top: 53%;
  left: 0%;
  background: url("../assets/patterns/right-arrow.svg") no-repeat 100% 0%,
  url("../assets/patterns/line.svg") no-repeat 0% 0%;
}
.main__header::after{
  position: absolute;
  content: "";
  width: 234px;
  height: 62px;
  top: 65%;
  right: 0%;
  background: url("../assets/patterns/white-circles.svg") no-repeat calc(100% + 30px) center;
  background-size: contain;
}
.main__header-info{
  max-width: 1135px;
  margin-left: auto;
  margin-right: auto;
}
.main__header .main__header-caption{
  color: #fff;
  margin-top: 0;
  margin-bottom: 40px;
}
.main__header-text{
  position: relative;
  left: 100px;
  max-width: 400px;
}
.main__header-text p{
  color: #fff;
  margin-top: 0;
  margin-bottom: 40px;
}
 /* ADVANTAGES  */
.advantage{
  padding-top: 160px;
  padding-bottom: 100px;
}
.advantage-container{
  position: relative;
  display: flex;
}
.advantage-container::before{
  content: "";
  position: absolute;
  left: -10rem;
  top: 40px;
  z-index: -1;
  width: 975px;
  height: 15px;
  background: url("../assets/patterns/line-gray.svg") repeat-x;
  background-size: contain;
}
.advantage-container__text{
  max-width: 350px;
}
.advantage-container__text::before{
  content: "";
  width: 96px;
  height: 96px;
  display: block;
  background-color: #FCB72B;
  border-radius: 100%;
  margin-bottom: 40px;
}
.advantage-container__text-locate::before{
  background: url("../assets/icons/locate.svg") no-repeat center center;
}

.advantage-container__text-scooter::before{
  background: url("../assets/icons/scooter.svg") no-repeat center center;
}

.advantage-container__text-ride::before{
  background: url("../assets/icons/ride.svg") no-repeat center center;
}

.advantage-container__text:not(:last-child){
  margin-right: 30px;
}
.advantage-container__text h4{
  margin-top: 0;
  margin-bottom: 27px;
}
.advantage-container__text p{
  font-family: var(--lexend-deca);
  margin-top: 0;
  margin-bottom: 0;
}

/* MAIN INFO  */


/*=====================================================================================================
                                        FOOTER
=====================================================================================================*/
.site-footer{
  background: var(--background) url("../assets/patterns/semi-circles.svg") no-repeat;
  background-position: calc(100% + 200px) calc(100% - 119px);
}
.footer-scoot{
  padding: 100px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-scoot__text{
  max-width: 415px;
}
.footer-scoot h2{
  color: #fff;
  margin: 0;
}
.footer-scoot__download{
  display: flex;
  align-items: center;
}
.download-scoot__link{
  margin-right: 12px;
}
.download-scoot__link img{
  display: block;
}
.footer-nav{
  background-color: var(--bg-color);
}
.site-footer__container{
  display: flex;
  align-items: center;
  padding: 32px 25px;
}

.social-icon:not(:last-child){
  margin-right: 25px;
}
.social-icon:hover{
  filter: grayscale(100%);
}

/*=====================================================================================================
                                        ABOUT
=====================================================================================================*/
.main-header{
  position: relative;
  padding: 72px 0;
  background: url("../assets/images/about-hero-desktop.jpg") no-repeat;
  background-size: cover;
}
.main-header::after{
  position: absolute;
  content: "";
  width: 234px;
  height: 62px;
  top: 50%;
  transform: translateY(-50%);
  right: 0%;
  background: url("../assets/patterns/white-circles.svg") no-repeat calc(100% + 30px) center;
  background-size: contain;
}
.main-header h1{
  color: #fff;
  margin: 0;
}
/*=====================================================================================================
                                        LOCATION
=====================================================================================================*/

/*=====================================================================================================
                                        CAREERS
=====================================================================================================*/
/*=====================================================================================================
                                        RESPONSIVE(TABLET)
=====================================================================================================*/
@media only screen and (max-width:1115px){
  /* MAIN HEADER  */
.main__header{
  position: relative;
  padding: 140px 100px 220px;
  background: url("../assets/images/home-hero-tablet.jpg") no-repeat;
  background-size: cover;
}
.main__header::before{
  position: absolute;
  content: "";
  width: 450px;
  height: 150px;
  top: 75%;
  left: 0%;
  background: url("../assets/patterns/right-arrow.svg") no-repeat 100% 0%;
}
.main__header::after{
  position: absolute;
  content: "";
  width: 234px;
  height: 62px;
  top: 85%;
  right: 0%;
  background: url("../assets/patterns/white-circles.svg") no-repeat calc(100% + 30px) center;
  background-size: contain;
}
.main__header-info{
  max-width: 1135px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main__header-text{
  position: relative;
  left: 0px;
  max-width: 575px;
  margin: 0 auto;
}
 /* MAIN ADVANTAGES  */
.advantage-container{
  flex-direction: column;
}
.advantage-container::before{
  left: -25.5rem;
  top: -50px;
  transform: rotate(90deg);
}
.advantage-container__text{
  max-width: 750px;
}
.advantage-container__text:not(:last-child){
  margin-right: 0;
  margin-bottom: 40px;
}
.advantage-container__text::before{
  float: left;
  margin-right: 80px;
}

/* ABOUT  */
  .main-header{
    background: url("../assets/images/about-hero-tablet.jpg") no-repeat;
    background-size: cover;
  }
  /* FOOTER  */
.footer-scoot{
  flex-direction: column;
  text-align: center;
}
.footer-scoot h2{
  margin-bottom: 40px;
}

}


@media only screen and (max-width:750px){

  /* HEADER  */
  .site-header__container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 25px;
    z-index: 9999;
    background: #fff;
  }
  .site-header .toggle{
    display: block;
  }
  .site-header .wrapper-icons{
    flex-basis: 50%;
  }
  .site-header .wrapper-icons .logo-img{
    transform: translateX(50%);
  }
  .site-header .wrapper-nav{
    position: fixed;
    z-index: 999;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 32px 25px;
    background-color: var(--bg-color);
    top: 75px;
    left: -100%;
    width: 75%;
    height: calc(100% - 75px);
    transition: left 0.5s ease;
  }
  
  .site-header .wrapper-nav-shown{
    left: 0;
  }
  .site-header .toggle-off{
    background: url("../assets/icons/toggle-off.svg") no-repeat center center;
  }
  .site-header .nav-list{
    flex-direction: column;
    align-items: flex-start;
  }
  .site-header .nav-item:not(:last-child){
    margin-right: 0;
    margin-bottom: 25px;
  }
  .site-header .nav-link{
    color: #fff;
  }

    /* MAIN HEADER  */
  .main__header{
    position: relative;
    padding: 115px 32px 180px;
    background: url("../assets/images/home-hero-mobile.jpg") no-repeat;
    background-size: cover;
  }
  .main__header::before{
    position: absolute;
    content: "";
    width: 450px;
    height: 150px;
    top: 70%;
    left: -300px;
    background: url("../assets/patterns/right-arrow.svg") no-repeat 100% 0%;
  }
  .main__header::after{
    content: "";  
    background: none;
  }
  .main__header-caption{
    font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.78571px;
  }

  /* ABOUT  */
  .main-header{
    background: url("../assets/images/about-hero-mobile.jpg") no-repeat;
    background-size: cover;
  }
}
/*=====================================================================================================
                                        RESPONSIVE(MOBILE)
=====================================================================================================*/

@media only screen and (max-width:650px){

  /* MAIN HEADER  */
  .main-header::after{
    background: none;
  }

  /* MAIN ADVANTAGE  */
  .advantage-container::before{
    background: none;
  }
  .advantage-container__text{
    text-align: center;
  }
  .advantage-container__text::before{
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* FOOTER  */

  .site-footer{
    background-position: calc(100% + 200px) calc(100% - 433px);
  }
  .site-footer__container{
    flex-direction: column;
    align-items: center;
    padding: 60px 0 80px;
  }
  .site-footer__container .wrapper-icons{
    margin-bottom: 40px;
    margin-right: 0;
  }
  .site-footer__container .wrapper-nav{
    flex-direction: column;
  }
  .site-footer__container .nav-list{
    flex-direction: column;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 80px;
  }
  .site-footer__container .nav-item:not(:last-child){
    margin-right: 0;
    margin-bottom: 16px;
  }
  .footer-scoot__download{
    flex-direction: column;
  }
  .download-scoot__link{
    margin-bottom: 15px;
  }
}